.wrapper {
  flex: 1;
  padding: 18px 0;

  .hotRecommend {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    :nth-child(4),
    :nth-child(8) {
      margin-right: 0;
    }
  }

  .newDisc {
    width: 100%;
    height: 188px;
    padding: 16px;
    box-sizing: border-box;

    .autopic {
      width: 100%;
      height: 100%;
      background: #f5f5f5;
      border: 1px solid #d3d3d3;
      position: relative;


      .button {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
      }

      .button1 {
        left: 0;
      }

      .button2 {
        right: 0;
      }
      .banner{
        width: 1000px;
        overflow: hidden;
      }
    }
  }
}