.wrapper{
  width: 100%;
  height: 285px;
  // background-image: url("http://p1.music.126.net/gCPF0oJzCNQv7irhQBq0iw==/109951168704639919.jpg?imageView&blur=40x20"); 
  background-size: 6000px; 
  background-position: center center; 
  .auto{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    .dots {
      position: absolute;
      bottom: 0;
      left: calc((1000px - 254px) / 2);
      transform: translateX(-50%);
      display: flex;
  
      > li {
        margin: 0 10px 10px 10px;
        >span {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          cursor: pointer;
          background: #c7beb8;
  
          &:hover,
          &.active {
            background: #c40c0c;
          }
        }
      }
    }
    .floatPic{
      position: absolute;
      top: 0;
      z-index: 20;
      right: 0px;
      width: 254px;
      height: 285px;
      background: url('https://s2.music.126.net/style/web2/img/index/download.png?bb318d46d0c374159ee36fc9c2db18af') no-repeat 0 0;
    }
    .button{
      position: absolute;
      z-index: 20;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      padding: 8px 0;
      &:hover{
        transition: all .3s ease;
        background: rgba($color: #000000, $alpha: 0.3);
      }
    }
    .button1{
      left: -90px;
    }
    .button2{
      right: -90px;
    }
  }
  .imgItem{
    >img{
      width: calc(1000px - 254px);
      margin: 0 auto;
      height: 285px;
      background-size: cover;
      float: left;
    }
  }
}
