.wrapper {
  width: 96%;
  margin: 0 auto;
  padding: 16px 0;
  .content {
    width: 100%;
    height: 472px;
    background: url('https://s2.music.126.net/style/web2/img/index/index_bill.png?e4a5c9573426efcc5ef27c61e3c8e2fe') no-repeat;
    background-position: center;
    background-size: cover;
  }
}