.wrapper{
  background: #242424;
  width: 100%;
  height: 68px;
}
.content{
  width: 1100px;
  margin:0 auto;
  display: flex;
  align-items: center;
  line-height: 68px;
  cursor: pointer;
  >a{
    color: #cccccc;
    padding: 0 18px;
    font-size: 14px;
    &:hover{
      background:#000000;
      color: white;
      transition: all .2s ease-in;
    }
  }
  .logoname{
    color: white;
    letter-spacing: 1px;
    font-size: 22px;
    margin-left: 4px;
    margin-right: 16px;
    &:hover{
      background: #242424;
    }
  }
  >img{
    width: 32px;
    height: 32px;
  }
  .rightdiv{
    flex: 1;
    display: flex;
    position: relative;
    .search{
      margin-left: 120px;
      width: 200px;
    }
    >a{
      position: absolute;
      right: 40px;
      color: #cccccc;
      font-size: 14px;
      &:hover{
        color: white;
        transition: all .2s ease-in;
      }
    }
  }
  
}