.wrapper {
  height: 52px;
  position: fixed;
  // bottom: -52px;
  bottom: 0;
  left: 0;
  right: 0;
  // z-index: 99;
  background: linear-gradient(to bottom, #4a4a4a, #2a2929);
  transition: all .3s ease;
  position: relative;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 47px;

    .play {
      display: flex;
      align-items: center;
      cursor: pointer;

      >span {
        margin: 0 4px;
      }
    }

    .audio {
      padding: 0 16px;
      display: flex;

      .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2px 0;

        .info {
          margin-left: 14px;
          font-size: 13px;
          display: flex;

          .songName {
            color: #e8e8e8;
          }

          .songSinger {
            color: #9b9b9b;
            margin-left: 12px;
          }
        }
      }

      .process {
        cursor: pointer;
        width: 466px;
        margin: 0 16px;
        height: 8px;
        display: flex;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .pro {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          border-bottom: 1px solid #454545;
          border-radius: 4px;

          background: #1a1a1a;

          .true {
            width: 100%;


          }

          .icon {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: relative;
            background: #fff;
            left: -12px;
          }

          .icon::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #b9180f;
          }
        }

        .time {
          margin-bottom: 2px;
          margin-left: 8px;
          font-size: 12px;
          color: #797979;

          >span {
            color: #a1a1a1;
            margin-right: 4px;
          }
        }
      }

      >img {
        width: 34px;
        height: 35px;
        border-radius: 4px;
        border: 2px solid #000;
      }

    }

    .action {
      display: flex;

      >a {
        margin-right: 8px;
        cursor: pointer;
      }
    }
  }
}

.fake {
  height: 52px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;

  &:hover .wrapper {
    // transform: translateY(-52px);
  }
}

